src/*.exe
src/lotuscoin
src/lotuscoind
src/test_lotuscoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.lotuscoin
*.core
*pro.user.*

# Compilation and Qt preprocessor part
*.qm
Makefile
lotuscoind
lotuscoin-qt
Lotuscoin-Qt.app

# Unit-tests
Makefile.test
lotuscoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
